.posts {
  .post-card {
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    box-shadow: 0px 9px 24px rgba(0, 0, 0, 0.06);
    border-radius: 4px;

    &:not(:last-child) {
      margin-bottom: 50px;
    }

    .post-header {
      display: grid;
      gap: 0;

      grid-template-rows: 75px;
      grid-template-columns: 75px auto;

      padding: 25px;
      padding-bottom: 0;

      .post-thumbnail {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 50px;
          width: 50px;
        }

        span.emoji {
          font-size: 40px;
        }
      }

      .post-title {
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding-left: 25px;

        h2 {
          font-size: 24px;
          font-weight: 600;
        }

        h3 {
          color: $text-secondary;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }

    .post-content {
      padding: 37.5px;
      padding-top: 15px;

      .post-excerpt {
        text-align: justify;

        .post-read-more {
          margin-top: 15px;
          font-weight: 600;
        }
      }
    }

    @include small-breakpoint {
      .post-content {
        padding-left: 125px;
      }
    }
  }
}
