:root {
  --background-color: rgb(30, 30, 46);
  --text-color: rgb(205, 214, 244);
  --accent-color: rgb(137, 180, 250);

  --accent-background-color: rgba(137, 180, 250, 0.125);
  --table-border-color: rgba(205, 214, 244, 0.376);

  --container-max-width: 720px;
  --image-max-width: 960px;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

a {
  color: var(--accent-color);
  text-decoration: none;
  border-bottom: 1px dashed var(--accent-color);
}

a:hover {
  font-weight: 600;
}

.container {
  margin: 0 auto;
  max-width: var(--container-max-width);
  margin-bottom: 160px;
}

/* -------------------- HEADER -------------------- */
header {
  margin: 160px 0 80px;
}

header > ul {
  padding: 0;
  list-style: none;
}

header > ul > li {
  display: inline;
}

header > ul > li:not(:last-child)::after {
  content: '·'
}

/* -------------------- POST LIST -------------------- */
.post-list > div {
  display: flex;
  align-items: baseline;
  gap: 3em;
  margin-bottom: 1em;
}

.post-list > div > a {
  font-size: 1.5em;
}

.post-list > div > p {
  margin: 0;
  color: #585b70;
}

/* -------------------- POST CONTENT -------------------- */
.post-content > .post-header {
  margin-bottom: 64px;
}

.post-content > .post-header > h1 {
  margin-bottom: 8px;
}

.post-content > .post-header > p {
  margin-top: 0;
  color: #585b70;
}

.post-content > p {
  text-align: justify;
}

.post-content > blockquote {
  margin: 0;
  padding: 16px 40px;
  background-color: var(--accent-background-color);
  border-left: 4px solid var(--accent-color);
}

.post-content > blockquote > p {
  margin: 0;
}

.post-content > table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid var(--table-border-color);
}

.post-content > table thead {
  border-bottom: 2px solid var(--table-border-color);
}

.post-content > table th,
.post-content > table td {
  padding: 4px 8px;
  border: 1px solid var(--table-border-color);
}

.post-content > table th:not(:last-child),
.post-content > table td:not(:last-child) {
  border-right: 2px solid var(--table-border-color);
}

.post-content > p > code {
  padding: 0 4px;
  background-color: var(--accent-background-color);
}

.post-content > pre {
  padding: 16px 24px;
  background-color: var(--accent-background-color);
}

.post-content > p > img {
  width: 100%;
}

@media screen and (min-width: 960px) {
  .post-content > p > img {
    width: var(--image-max-width);
    margin-left: calc(((var(--image-max-width) - var(--container-max-width)) / 2) * -1); /* (imgWidth - containerMaxWidth)/2 to center it */
  }
}
