<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="author" content="LucasAlt">
<meta name="description" content="I'm LucasAlt. A CAD/CAM designer and web developer. I'm sharing tips and tricks as well as projects I'm working on.">
<meta name="keywords" content="blog, diy, development, python, javascript, CAD, CAM, CAD design, technology, onshape">

<!-- Open Graph -->
<!-- <meta property="og:locale" content="en-US" />
<meta property="og:site_name" content={config.siteTitle} />
<meta
  property="og:type"
  content={seoType === "post" ? "article" : "website"}
/>
<meta property="og:url" content={pageUrl} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={thumbnailImage} />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:alt" content={`${title} thumbnail`} /> -->
<!-- <meta property="fb:app_id" content="app_code" /> -->

<!-- Twitter -->
<!-- <meta property="twitter:card" content="summary" />
<meta property="twitter:site" content="@LucasCtrlAlt" />
<meta property="twitter:creator" content="@LucasCtrlAlt" />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={thumbnailImage} />
<meta property="twitter:url" content={pageUrl} /> -->

{% if title %}
<title>LucasAlt - {{ title }}</title>
{% else %}
<title>LucasAlt</title>
{% endif %}
<link rel="stylesheet" href="/styles/modern-normalize.css">
<link rel="stylesheet" href="/styles/main.css">
<link rel="shortcut icon" href="/img/logo.svg" type="image/svg">
