<!doctype html>
<html lang="en">
  <head>
    {% render 'head' %}
  </head>
  <body>
    <div class="container">
      {% render 'navbar' navItems: navItems %}

      <main role="main">
        <div class="post-list">
          {% assign postList_by_date = postList | sort: 'publishDate' | reverse %}
          {% for post in postList_by_date %}
          <div>
            <a href="/{{ post.uri }}">{{ post.title}}</a>
            <p>{{ post.publishDate }}</p>
          </div>
          {% endfor %}
        </div>
      </main>
    </div>
  </body>
</html>
