<!doctype html>
<html lang="en">
  <head>
    {% render 'head', title: title %}
  </head>
  <body>
    <div class="container">
      {% render 'navbar' %}

      <div class="post-content">
        <div class="post-header">
          <h1>{{ title }}</h1>
          <p>
            <span>{% for tag in tags %} #{{tag}} {% endfor %}</span>
            {% unless tags == empty %} - {% endunless %}
            <span>Published on {{ publishDate }}</span>
          </p>
        </div>
        {{ postContent }}
      </div>
    </div>
  </body>
</html>
