/* Variables
 * ===============
 *
 * All variables and most of the configuration is defined on this page. */

/* Containers */

$small: 700px;
$medium: 900px;
$large: 1040px;

/* Breakpoints */

$mobile: 620px;
$tablet: $small;
$desktop: $medium;

/* Colors */

$background: #ffffff;
$text-primary: #000000;
$text-secondary: #717171;
$link-color: #0000EE;
$blockquote-background: #717171;
$blockquote-border-size: 4px;
$code-background: #717171;

$green: #1fc844;
$yellow: #fed356;
$error: #d33c40;

/* Typography */

// Body font
$font-family: 'Poppins', serif;
